<div class="db-section">
              <div class="panel panel-primary panel-border top">
                <h3 class='text-center'>Store Settings</h3>
                <div class="panel-body bg-white">
                  <div class="admin-form">
                    <div class="section row mb10">
                      <label class="field-label col-md-3 text-center" for="names">Store Timezone:</label>
                      <div class="col-md-9">
                        <label class="field select">
                          <select id="set-location" name="set-location">
                            <option value="0" selected="selected">(GMT-8h) US/Pacific</option>
                            <option value="1">(GMT-11h) Pacific/Samoa</option>
                            <option value="2">(GMT-10h) Pacific/Johnston</option>
                            <option value="3">(GMT-8h) Canada/Pacific</option>
                            <option value="4">(GMT+10h) Pacific/Truk</option>
                          </select>
                          <i class="arrow double"></i>
                        </label>
                      </div>
                    </div>
                    <div class="section row mb10">
                      <label class="field-label col-md-3 text-center" for="store-currency">Store Currency:</label>
                      <div class="col-md-9">
                        <label class="field prepend-icon" for="store-currency">
                          <input class="gui-input" id="store-currency" type="text" name="store-currency" value="" placeholder="United States Dollar">
                          <label class="field-icon" for="store-currency">
                            <i class="fa fa-usd"></i>
                          </label>
                        </label>
                      </div>
                    </div>
                    <div class="section row mb10">
                      <label class="field-label col-md-3 text-center" for="store-units">Store Unit System:</label>
                      <div class="col-md-9">
                        <label class="field prepend-icon" for="store-units">
                          <input class="gui-input" id="store-units" type="text" name="store-units" value="" placeholder="Metric System">
                          <label class="field-icon" for="store-units">
                            <i class="fa fa-exchange"></i>
                          </label>
                        </label>
                      </div>
                    </div>
                    <div class="section row mb10">
                      <label class="field-label col-md-3 text-center" for="store-weight">Store Weight Unit:</label>
                      <div class="col-md-9">
                        <label class="field prepend-icon" for="store-weight">
                          <input class="gui-input" id="store-weight" type="text" name="store-weight" value="" placeholder="Pound(lb)">
                          <label class="field-icon" for="store-weight">
                            <i class="fa fa-anchor"></i>
                          </label>
                        </label>
                      </div>
                    </div>
                    <div class="section row mb10">
                      <label class="field-label col-md-3 text-center" for="store-desc">Store Description:</label>
                      <div class="col-md-9">
                        <label class="field prepend-icon">
                          <textarea class="gui-textarea" id="store-desc" name="store-desc" placeholder="Store Description and Purposes"></textarea>
                          <label class="field-icon" for="store-desc">
                            <i class="fa fa-edit"></i>
                          </label>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>