<section class="db-section row">
  <div class="col-md-12 admin-grid">
    <div class="panel mbn">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <div class="pl30 pr30">
              <h2 class="ib mn mr20">Recent Activities</h2>
              <div class="pull-lg-right mt10 mt-lg-0">
                <div class="btn-group">
                  <button class="btn btn-xs btn-info dropdown-toggle" type="button" data-toggle="dropdown">Filter by
                    <span class="caret ml15"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a href="#">Type 1</a>
                    </li>
                    <li>
                      <a href="#">Type 2</a>
                    </li>
                    <li>
                      <a href="#">Type 3</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="panel-scroller scroller-xl scroller-thick scroller-blue scroller-pn pn mt30">
                <table class="table list-table">
                  <tbody>
                    <tr>
                      <td>
                        <span class="icon text-success fa fa-check"></span>You have 4 pending tasks</td>
                      <td class="text-right">Just now</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="icon text-primary fa fa-bar-chart"></span>Finance Report for year 2013 has been released.</td>
                      <td class="text-right">20 min</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="icon text-warning fa fa-user"></span>You have 5 pending membership that requires a quick review.</td>
                      <td class="text-right">20 min</td>
                    </tr>
                    <tr>
                      <td>
                        <div class="element-groups-sm-custom">
                          <span class="icon text-system fa fa-shopping-basket"></span>New order received with
                          <span class="label label-system">Reference Number: DR23923</span>
                        </div>
                      </td>
                      <td class="text-right">20 min</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="icon text-warning fa fa-user"></span>You have 5 pending membership that requires a quick review.</td>
                      <td class="text-right">25 min</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="icon text-lynch fa fa-bell"></span>Web server hardware needs to be upgraded.</td>
                      <td class="text-right">28 min</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="icon text-default fa fa-briefcase"></span>IPO Report for year 2013 has been released.</td>
                      <td class="text-right">33 min</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="icon text-success fa fa-check"></span>You have 6 pending tasks</td>
                      <td class="text-right">35 min</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="icon text-primary fa fa-bar-chart"></span>Finance Report for year 2013 has been released.</td>
                      <td class="text-right">40 min</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="icon text-success fa fa-bell"></span>Web server hardware needs to be upgraded.</td>
                      <td class="text-right">40 min</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="icon text-warning fa fa-briefcase"></span>IPO Report for year 2013 has been released.</td>
                      <td class="text-right">44 min</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="icon text-success fa fa-check"></span>You have 6 pending tasks</td>
                      <td class="text-right">47 min</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="icon text-info fa fa-bar-chart"></span>Finance Report for year 2013 has been released.</td>
                      <td class="text-right">50 min</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <a class="mt25 btn-link" href="#">See All Records</a>
            </div>
          </div>
          <div class="col-md-6 mt-30 mt-md-0">
            <div class="pr35 pl30">
              <h2 class="ib mn mr20">Tasks</h2>
              <div class="pull-right">
                <div class="btn-group">
                  <button class="btn btn-xs btn-info dropdown-toggle" type="button" data-toggle="dropdown">More
                    <span class="caret ml15"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a href="#">Task 1</a>
                    </li>
                    <li>
                      <a href="#">Task 2</a>
                    </li>
                    <li>
                      <a href="#">Task 3</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="panel-scroller scroller-xl scroller-thick scroller-blue scroller-pn pn mt30">
                <table class="table list-tasks">
                  <tbody>
                    <tr>
                      <td>
                        <div class="checkbox-custom checkbox-custom-thin mr5 element-groups-sm-custom">
                          <input id="checkboxDefault3" type="checkbox">
                          <label for="checkboxDefault3">Hold An Interview for Marketing Manager Position</label>
                          <span class="label label-danger">MARKETING</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="checkbox-custom checkbox-custom-thin mr5 element-groups-sm-custom">
                          <input id="checkboxDefault4" type="checkbox">
                          <label for="checkboxDefault4">AirAsia Intranet System Project Internal Meeting</label>
                          <span class="label label-warning dark">AIRASIA</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="checkbox-custom checkbox-custom-thin mr5 element-groups-sm-custom">
                          <input id="checkboxDefault5" type="checkbox">
                          <label for="checkboxDefault5">Technical Management Meeting</label>
                          <span class="label label-primary dark">Company</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="checkbox-custom checkbox-custom-thin mr5 element-groups-sm-custom">
                          <input id="checkboxDefault6" type="checkbox">
                          <label for="checkboxDefault6">Kick-off Company CRM Mobile App Development </label>
                          <span class="label label-primary dark">INTERNAL</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="checkbox-custom checkbox-custom-thin mr5 element-groups-sm-custom">
                          <input id="checkboxDefault7" type="checkbox">
                          <label for="checkboxDefault7">Hold An Interview for Marketing Manager Position</label>
                          <span class="label label-danger">MARKETING</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="checkbox-custom checkbox-custom-thin mr5 element-groups-sm-custom">
                          <input id="checkboxDefault8" type="checkbox">
                          <label for="checkboxDefault8">AirAsia Intranet System Project Internal Meeting</label>
                          <span class="label label-warning dark">AIRASIA</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="checkbox-custom checkbox-custom-thin mr5 element-groups-sm-custom">
                          <input id="checkboxDefault9" type="checkbox">
                          <label for="checkboxDefault9">Technical Management Meeting</label>
                          <span class="label label-primary dark">Company</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="checkbox-custom checkbox-custom-thin mr5 element-groups-sm-custom">
                          <input id="checkboxDefault10" type="checkbox">
                          <label for="checkboxDefault10">Kick-off Company CRM Mobile App Development</label>
                          <span class="label label-primary dark">INTERNAL</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="checkbox-custom checkbox-custom-thin mr5 element-groups-sm-custom">
                          <input id="checkboxDefault11" type="checkbox">
                          <label for="checkboxDefault11">Hold An Interview for Marketing Manager Position</label>
                          <span class="label label-danger">MARKETING</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="checkbox-custom checkbox-custom-thin mr5 element-groups-sm-custom">
                          <input id="checkboxDefault12" type="checkbox">
                          <label for="checkboxDefault12">AirAsia Intranet System Project Internal Meeting</label>
                          <span class="label label-warning dark">AIRASIA</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="checkbox-custom checkbox-custom-thin mr5 element-groups-sm-custom">
                          <input id="checkboxDefault13" type="checkbox">
                          <label for="checkboxDefault13">Technical Management Meeting</label>
                          <span class="label label-primary dark">Company</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="checkbox-custom checkbox-custom-thin mr5 element-groups-sm-custom">
                          <input id="checkboxDefault14" type="checkbox">
                          <label for="checkboxDefault14">Kick-off Company CRM Mobile App Development</label>
                          <span class="label label-primary dark">INTERNAL</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="checkbox-custom checkbox-custom-thin mr5 element-groups-sm-custom">
                          <input id="checkboxDefault15" type="checkbox">
                          <label for="checkboxDefault15">Hold An Interview for Marketing Manager sition</label>
                          <span class="label label-danger">MARKETING</span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <a class="mt25 btn-link" href="#">See All Records</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>