<section class="db-section row">
  <div class="col-md-12 admin-grid">
    <div class="panel mtn">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6 mt-30 mt-md-0">
            <div class="pl30 pr30">
              <h2 class="ib mn mr20">Regional Stats</h2>
              <div class="clearfix mt30">
                <div class="pull-left">
                  <div class="btn-group btn-group-xs d-sm-flex">
                    <a class="btn btn-info" href="#">Users</a>
                    <a class="btn btn-gray" href="#"> Orders </a>
                  </div>
                </div>
                <div class="pull-right">
                  <div class="btn-group">
                    <button class="btn btn-xs fs10 btn-info dropdown-toggle" type="button" data-toggle="dropdown">Select region
                      <span class="caret ml15"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li>
                        <a href="#">Region 1</a>
                      </li>
                      <li>
                        <a href="#">Region 2</a>
                      </li>
                      <li>
                        <a href="#">Region 3</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="js-widget-map mt10 jvector-colors hide-jzoom" style="width: 100%; height: 300px;"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="pl30 pr30">
              <h2 class="ib mn mr20">Feed</h2>
              <div class="panel-scroller scroller-lg scroller-thick scroller-blue scroller-pn pn mt30">
                <table class="table list-table">
                  <tbody>
                    <tr>
                      <td>
                        <span class="icon text-warning fa fa-bell"></span>Web server hardware needs to be upgraded.</td>
                      <td class="text-right">2 hours</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="icon text-info fa fa-bullhorn"></span>New order received. Please take care of it.</td>
                      <td class="text-right">2 hours</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="icon text-info fa fa-bullhorn"></span>New order received. Please take care of it.</td>
                      <td class="text-right">2 hours</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="icon text-info fa fa-bullhorn"></span>New order received. Please take care of it.</td>
                      <td class="text-right">2 hours</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="icon text-info fa fa-bullhorn"></span>New order received. Please take care of it.</td>
                      <td class="text-right">2 hours</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="icon text-info fa fa-bullhorn"></span>New order received. Please take care of it.</td>
                      <td class="text-right">2 hours</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="icon text-info fa fa-bullhorn"></span>New order received. Please take care of it.</td>
                      <td class="text-right">2 hours</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="icon text-info fa fa-bullhorn"></span>New order received. Please take care of it.</td>
                      <td class="text-right">2 hours</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="icon text-info fa fa-bullhorn"></span>New order received. Please take care of it.</td>
                      <td class="text-right">2 hours</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="icon text-info fa fa-bullhorn"></span>New order received. Please take care of it.</td>
                      <td class="text-right">2 hours</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="icon text-info fa fa-bullhorn"></span>New order received. Please take care of it.</td>
                      <td class="text-right">2 hours</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="icon text-info fa fa-bullhorn"></span>New order received. Please take care of it.</td>
                      <td class="text-right">2 hours</td>
                    </tr>
                    <tr>
                      <td>
                        <span class="icon text-info fa fa-bullhorn"></span>New order received. Please take care of it.</td>
                      <td class="text-right">2 hours</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>