<div class="db-section">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-0 col-lg-3">
      <div class="bs-component">
        <div class="panel panel-tile text-center br-a br-light">
          <div class="panel-body bg-light">
            <i class="fa fa-twitter text-muted fs70 mt10"></i>
            <h1 class="fs30 mbn">18,020</h1>
            <h6 class="text-system">NB CONVERSIONS</h6>
          </div>
          <div class="panel-footer bg-light dark br-t br-light p12">
            <span class="fs11">
              <i class="fa fa-arrow-up"></i> 3% UNIQUE
              <b>1D AGO</b>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-0 col-lg-3">
      <div class="bs-component">
        <div class="panel panel-tile text-center">
          <div class="panel-body bg-primary light">
            <i class="fa fa-twitter text-muted fs70 mt10"></i>
            <h1 class="fs30 mbn">18,020</h1>
            <h6 class="text-white">NB CONVERSIONS</h6>
          </div>
          <div class="panel-footer bg-primary br-n p12">
            <span class="fs11">
              <i class="fa fa-arrow-up pr5"></i>
              <b> 3% UNIQUES 1D AGO</b>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-0 col-lg-3">
      <div class="bs-component">
        <div class="panel panel-tile text-center">
          <div class="panel-body bg-info light">
            <i class="fa fa-twitter text-muted fs70 mt10"></i>
            <h1 class="fs30 mbn">18,020</h1>
            <h6 class="text-white">NB CONVERSIONS</h6>
          </div>
          <div class="panel-footer bg-info br-n p12">
            <span class="fs11">
              <i class="fa fa-arrow-up pr5"></i>
              <b> 3% UNIQUES 1D AGO</b>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-0 col-lg-3">
      <div class="bs-component">
        <div class="panel panel-tile text-center">
          <div class="panel-body bg-success light">
            <i class="fa fa-twitter text-muted fs70 mt10"></i>
            <h1 class="fs30 mbn">18,020</h1>
            <h6 class="text-white">NB CONVERSIONS</h6>
          </div>
          <div class="panel-footer bg-success br-n p12">
            <span class="fs11">
              <i class="fa fa-arrow-up pr5"></i>
              <b> 3% UNIQUES 1D AGO</b>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>