<section class="db-section row text-center text-sm-left">
  <div class="col-lg-6 admin-grid">
    <div class="pl30 pr30">
      <h2 class="mtn">Comments</h2>
      <div class="box-sm box-offset-20 mt-30">
        <div class="box__left">
          <img class="br4" src="assets/img/avatars/avatar-01.jpg">
        </div>
        <div class="box__body bg-white-lilac pl20 pr10 pt15 pb10 br4 w100p">
          <div class="fs18 ib text-black">Gary Harvey</div>
          <div class="float-sm-right text-mischka text-bold monserrat fs12 mt7">15 Feb 01:12 PM</div>
          <p class="mt7">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
      </div>
      <div class="mt15 clearfix">
        <div class="float-right list-inline">
          <li>
            <a class="text-primary text-uppercase fs12 text-bold monserrat" href="#">Quick edit</a>
          </li>
          <li>
            <a class="text-primary text-uppercase fs12 text-bold monserrat" href="#">View</a>
          </li>
          <li>
            <a class="text-danger text-uppercase fs12 text-bold monserrat" href="#">Delete</a>
          </li>
        </div>
      </div>
      <div class="box-sm box-offset-20 mt-60 mt-sm-30">
        <div class="box__left">
          <img class="br4" src="assets/img/avatars/avatar-02.jpg">
        </div>
        <div class="box__body bg-white-lilac pl20 pr10 pt15 pb10 br4 w100p">
          <div class="fs18 ib text-black">Gerald Carpenter</div>
          <div class="float-sm-right text-mischka text-bold monserrat fs12 mt7">15 Feb 01:12 PM</div>
          <p class="mt7">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
        </div>
      </div>
      <div class="box-sm box-offset-20 mt-60 mt-sm-30">
        <div class="box__left">
          <img class="br4" src="assets/img/avatars/avatar-03.jpg">
        </div>
        <div class="box__body bg-white-lilac pl20 pr10 pt15 pb10 br4 w100p">
          <div class="fs18 ib text-black">Ashley Green</div>
          <div class="float-sm-right text-mischka text-bold monserrat fs12 mt7">15 Feb 01:12 PM</div>
          <p class="mt7">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
        </div>
      </div>
      <div class="box-sm box-offset-20 mt-60 mt-sm-30">
        <div class="box__left">
          <img class="br4" src="assets/img/avatars/avatar-04.jpg">
        </div>
        <div class="box__body bg-white-lilac pl20 pr10 pt15 pb10 br4 w100p">
          <div class="fs18 ib text-black">Doris Adams</div>
          <div class="float-sm-right text-mischka text-bold monserrat fs12 mt7">15 Feb 01:12 PM</div>
          <p class="mt7">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="p-md-11 col-lg-6 admin-grid mt-60 mt-lg-0">
    <div class="pl30 pr30">
      <h2 class="mtn">Quick actions</h2>
      <div class="mt-30 d-sm-flex">
        <div>
          <img class="br4" src="assets/img/avatars/avatar-05.jpg">
        </div>
        <div class="pl30 pr30">
          <div>
            <div>
              <div class="fs18 ib text-black">Gary Harvey</div>
              <p class="mt7">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
            </div>
          </div>
        </div>
        <div class="text-mischka text-uppercase text-bold monserrat fs12 d-sm-flex flex-direction-column mla min-w145">
          <div>
            <span>3 jun</span>
            <span class="bull bg-info"></span>
            <span>9:30-13:00</span>
          </div>
          <div class="btn-group btn-group-xs mt15 d-sm-flex">
            <a class="btn btn-info mw70" href="#">Approve</a>
            <a class="btn btn-danger mw70" href="#"> Reject </a>
          </div>
        </div>
      </div>
      <div class="mt-60 mt-sm-30 d-sm-flex">
        <div>
          <img class="br4" src="assets/img/avatars/avatar-06.jpg">
        </div>
        <div class="pl30 pr30">
          <div>
            <div>
              <div class="fs18 ib text-black">Gerald Carpenter</div>
              <p class="mt7">It has roots in a piece of classical Latin literature from 45 BC</p>
            </div>
          </div>
        </div>
        <div class="text-mischka text-uppercase text-bold monserrat fs12 d-sm-flex flex-direction-column mla min-w145">
          <div>
            <span>3 jun</span>
            <span class="bull bg-info"></span>
            <span>9:30-13:00</span>
          </div>
          <div class="btn-group btn-group-xs mt15 d-sm-flex">
            <a class="btn btn-info mw70" href="#">Approve</a>
            <a class="btn btn-danger mw70" href="#"> Reject </a>
          </div>
        </div>
      </div>
      <div class="mt-60 mt-sm-30 d-sm-flex">
        <div>
          <img class="br4" src="assets/img/avatars/avatar-07.jpg">
        </div>
        <div class="pl30 pr30">
          <div>
            <div>
              <div class="fs18 ib text-black">Ashley Green</div>
              <p class="mt7">All the Lorem Ipsum generators on the Internet tend to repeat.</p>
            </div>
          </div>
        </div>
        <div class="text-mischka text-uppercase text-bold monserrat fs12 d-sm-flex flex-direction-column mla min-w145">
          <div>
            <span>3 jun</span>
            <span class="bull bg-info"></span>
            <span>9:30-13:00</span>
          </div>
          <div class="btn-group btn-group-xs mt15 d-sm-flex">
            <a class="btn btn-info mw70" href="#">Approve</a>
            <a class="btn btn-danger mw70" href="#"> Reject </a>
          </div>
        </div>
      </div>
      <div class="mt-60 mt-sm-30 d-sm-flex">
        <div>
          <img class="br4" src="assets/img/avatars/avatar-04.jpg">
        </div>
        <div class="pl30 pr30">
          <div>
            <div>
              <div class="fs18 ib text-black">Doris Adams</div>
              <p class="mt7">All the Lorem Ipsum generators on the Internet tend to repeat.</p>
            </div>
          </div>
        </div>
        <div class="text-mischka text-uppercase text-bold monserrat fs12 d-sm-flex flex-direction-column mla min-w145">
          <div>
            <span>3 jun</span>
            <span class="bull bg-info"></span>
            <span>9:30-13:00</span>
          </div>
          <div class="btn-group btn-group-xs mt15 d-sm-flex">
            <a class="btn btn-info mw70" href="#">Approve</a>
            <a class="btn btn-danger mw70" href="#"> Reject </a>
          </div>
        </div>
      </div>
      <div class="mt-60 mt-sm-30 d-sm-flex">
        <div>
          <img class="br4" src="assets/img/avatars/avatar-05.jpg">
        </div>
        <div class="pl30 pr30">
          <div>
            <div>
              <div class="fs18 ib text-black">Gary Harvey</div>
              <p class="mt7">Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
            </div>
          </div>
        </div>
        <div class="text-mischka text-uppercase text-bold monserrat fs12 d-sm-flex flex-direction-column mla min-w145">
          <div>
            <span>3 jun</span>
            <span class="bull bg-info"></span>
            <span>9:30-13:00</span>
          </div>
          <div class="btn-group btn-group-xs mt15 d-sm-flex">
            <a class="btn btn-info mw70" href="#">Approve</a>
            <a class="btn btn-danger mw70" href="#"> Reject </a>
          </div>
        </div>
      </div>
      <div class="mt-60 mt-sm-30 d-sm-flex">
        <div>
          <img class="br4" src="assets/img/avatars/avatar-09.jpg">
        </div>
        <div class="pl30 pr30">
          <div>
            <div>
              <div class="fs18 ib text-black">Gerald Carpenter</div>
              <p class="mt7">It has roots in a piece of classical Latin literature from 45 BC</p>
            </div>
          </div>
        </div>
        <div class="text-mischka text-uppercase text-bold monserrat fs12 d-sm-flex flex-direction-column mla min-w145">
          <div>
            <span>3 jun</span>
            <span class="bull bg-info"></span>
            <span>9:30-13:00</span>
          </div>
          <div class="btn-group btn-group-xs mt15 d-sm-flex">
            <a class="btn btn-info mw70" href="#">Approve</a>
            <a class="btn btn-danger mw70" href="#">Reject</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>