<section class="db-section">
  <div class="row">
    <div class="col-md-4">
      <h3> Combined Chart</h3>
      <div class="js-guage-chart-d3" style="height: 370px; width: 100%;"></div>
    </div>
    <div class="col-md-4 mt-30 mt-md-0">
      <h3>Pie Chart</h3>
      <div class="js-pie-chart-d3" style="height: 370px; width: 100%;"></div>
    </div>
    <div class="col-md-3 mt-30 mt-md-0">
      <h3>Donut Chart</h3>
      <div class="js-donut-chart-d3" style="height: 370px; width: 100%;"></div>
    </div>
  </div>
</section>