<section class="db-section">
  <div class="tab-pane active p25" id="tab1_1" role="tabpanel">
    <div class="row">
      <div class="col-md-4">
        <h5 class="mt5 mbn ph10 pb5 fs15 fw700">Top Referrals </h5>
        <table class="table mbn tc-med-1 mt5 tc-bold-last tc-fs15-last">
          <thead>
            <tr class="hidden">
              <th>Source</th>
              <th>Count</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <span>google.com</span>
              </td>
              <td>1,926</td>
            </tr>
            <tr>
              <td>
                <span>yahoo.com</span>
              </td>
              <td>1,254</td>
            </tr>
            <tr>
              <td>
                <span>Templatemonster.com</span>
              </td>
              <td>783</td>
            </tr>
          </tbody>
        </table>
        <h5 class="mt25 mbn ph10 pb5 fs15 fw700">Top Search Terms </h5>
        <table class="table mbn tc-med-1 mt5 tc-bold-last tc-fs15-last">
          <thead>
            <tr class="hidden">
              <th>Source</th>
              <th>Count</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <span>Admin theme</span>
              </td>
              <td>988</td>
            </tr>
            <tr>
              <td>
                <span>Admin dashboard</span>
              </td>
              <td>612</td>
            </tr>
            <tr>
              <td>
                <span>Admin template</span>
              </td>
              <td>256</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-8 pln mvn15">
        <h5 class="ml5 mt20 ph10 pb5 br-b fw700 hidden">Visitors
          <small class="pull-right fw700">13,253
            <span class="text-primary">(8,251 unique)</span>
          </small>
        </h5>
        <div class="js-ecommerce_chart-5" style="height: 300px;"></div>
      </div>
    </div>
  </div>
</section>