<div class="db-section">
  <div class="panel">
    <h3> Sparklines Chart</h3>
    <div class="panel-body of-a pn">
      <div class="table-responsive">
        <table class="table mbn table-bordered">
          <thead>
            <tr class="bg-light">
              <th style="width: 20%;">Name</th>
              <th style="width: 20%;">Count</th>
              <th style="width: 20%;">Memory</th>
              <th style="width: 20%;">CPU</th>
              <th style="width: 20%;">Disk I/O</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="p15 mnw150">
                <h4 class="mb15 text-muted">Apache</h4>
                <div class="progress progress-bar-sm mb5">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">60%</span>
                  </div>
                </div>
                <p>
                  <b class="text-info">95%</b>
                  <span class="pull-right text-muted">1,200 GB left</span>
                </p>
              </td>
              <td class="p15">
                <h4 class="mb25 text-muted">12</h4>
                <span class="inlinesparkline" sparkwidth="100%" data-spark-color="info" values="5,6,7,9,9,5,3,2,2,4,6,7,6,7,9,9,5,3,2,2,4,6,7"></span>
              </td>
              <td class="p15">
                <h4 class="mb25 text-muted">200 MB</h4>
                <span class="inlinesparkline" sparkwidth="100%" data-spark-color="info" values="5,6,7,9,9,5,3,2,2,4,6,7,6,7,9,9,5,3,2,2,4,6,7"></span>
              </td>
              <td class="p15">
                <h4 class="mb25 text-muted">30%</h4>
                <span class="inlinesparkline" sparkwidth="100%" data-spark-color="info" values="5,6,7,9,9,5,3,2,2,4,6,7,6,7,9,9,5,3,2,2,4,6,7"></span>
              </td>
              <td class="p15">
                <h4 class="mb25 text-muted">89 KB/s</h4>
                <span class="inlinesparkline" sparkwidth="100%" data-spark-color="info" values="5,6,7,9,9,5,3,2,2,4,6,7,6,7,9,9,5,3,2,2,4,6,7"></span>
              </td>
            </tr>
            <tr>
              <td class="p15">
                <h4 class="mb15 text-muted">Postfix</h4>
                <div class="progress progress-bar-sm mb5">
                  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
                    <span class="sr-only">45%</span>
                  </div>
                </div>
                <p>
                  <b class="text-primary">45%</b>
                  <span class="pull-right text-muted">2,500 GB left</span>
                </p>
              </td>
              <td class="p15">
                <h4 class="mb25 text-muted">42</h4>
                <span class="inlinesparkline" sparkwidth="100%" data-spark-color="primary" values="5,6,7,9,9,5,3,2,2,4,6,7,6,7,9,9,5,3,2,2,4,6,7"></span>
              </td>
              <td class="p15">
                <h4 class="mb25 text-muted">300 MB</h4>
                <span class="inlinesparkline" sparkwidth="100%" data-spark-color="primary" values="5,6,7,9,9,5,3,2,2,4,6,7,6,7,9,9,5,3,2,2,4,6,7"></span>
              </td>
              <td class="p15">
                <h4 class="mb25 text-muted">30%</h4>
                <span class="inlinesparkline" sparkwidth="100%" data-spark-color="primary" values="5,6,7,9,9,5,3,2,2,4,6,7,6,7,9,9,5,3,2,2,4,6,7"></span>
              </td>
              <td class="p15">
                <h4 class="mb25 text-muted">127 KB/s</h4>
                <span class="inlinesparkline" sparkwidth="100%" data-spark-color="primary" values="5,6,7,9,9,5,3,2,2,4,6,7,6,7,9,9,5,3,2,2,4,6,7"></span>
              </td>
            </tr>
            <tr>
              <td class="p15">
                <h4 class="mb15 text-muted">MySQL</h4>
                <div class="progress progress-bar-sm mb5">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                    <span class="sr-only">80%</span>
                  </div>
                </div>
                <p>
                  <b class="text-warning">80%</b>
                  <span class="pull-right text-muted">900 GB left</span>
                </p>
              </td>
              <td class="p15">
                <h4 class="mb25 text-muted">26</h4>
                <span class="inlinesparkline" sparkwidth="100%" data-spark-color="warning" values="5,6,7,9,9,5,3,2,2,4,6,7,6,7,9,9,5,3,2,2,4,6,7"></span>
              </td>
              <td class="p15">
                <h4 class="mb25 text-muted">150 MB</h4>
                <span class="inlinesparkline" sparkwidth="100%" data-spark-color="warning" values="5,6,7,9,9,5,3,2,2,4,6,7,6,7,9,9,5,3,2,2,4,6,7"></span>
              </td>
              <td class="p15">
                <h4 class="mb25 text-muted">30%</h4>
                <span class="inlinesparkline" sparkwidth="100%" data-spark-color="warning" values="5,6,7,9,9,5,3,2,2,4,6,7,6,7,9,9,5,3,2,2,4,6,7"></span>
              </td>
              <td class="p15">
                <h4 class="mb25 text-muted">39 KB/s</h4>
                <span class="inlinesparkline" sparkwidth="100%" data-spark-color="warning" values="5,6,7,9,9,5,3,2,2,4,6,7,6,7,9,9,5,3,2,2,4,6,7"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>