<div class="db-section">
  <div class="row">
    <div class="col-lg-5">
      <div class="panel">
        <div class="panel-heading">
          <span class="panel-title fw600 text-info">Pie Chart</span>
        </div>
        <div class="panel-body pn of-h">
          <div class="js-high-pie-widgets" style="width: 100%; height: 210px; margin: 0 auto;"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="panel">
        <div class="panel-heading">
          <span class="panel-title fw600 text-info">Circulars</span>
          <div class="widget-menu pull-right mr10 hidden">
            <span class="fs11 text-muted">
              <i class="fa fa-circle text-warning fs12 pr5"></i> Twitter</span>
            <span class="fs11 text-muted ml10">
              <i class="fa fa-circle text-info fs12 pr5"></i> Facebook</span>
            <span class="fs11 text-muted ml10">
              <i class="fa fa-circle text-primary fs12 pr5"></i> Google+</span>
          </div>
        </div>
        <div class="panel-body">
          <div class="mb20 text-right">
            <span class="fs11 text-muted">
              <i class="fa fa-circle text-warning fs12 pr5"></i> Twitter</span>
            <span class="fs11 text-muted ml10">
              <i class="fa fa-circle text-info fs12 pr5"></i> Facebook</span>
            <span class="fs11 text-muted ml10">
              <i class="fa fa-circle text-primary fs12 pr5"></i> Google+</span>
          </div>
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0 text-center">
              <div class="info-circle" id="c1" title="Twitter" value="80" data-circle-color="primary"></div>
            </div>
            <div class="mt-25 mt-sm-0 col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
              <div class="info-circle" id="c2" title="Facebook" value="30" data-circle-color="info"></div>
            </div>
            <div class="mt-25 mt-sm-0 col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
              <div class="info-circle" id="c3" title="Behance" value="55" data-circle-color="warning"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>