<section class="db-section row">
  <div class="col-md-6">
    <div class="pl30 pr30">
      <div class="panel panel-widget calendar-widget calendar-alt" id="p02">
        <h2 class="mtn">Calendar</h2>
        <div class="js-calendar-widget mt-35 mt-sm-0"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6 admin-grid">
    <div class="pl30 pr30">
      <h2 class="ib mtn">Chat</h2>
      <div class="reveal-sm-inline-block float-sm-right mt5 ml-md-20">
        <form class="search-form-widget" role="search">
          <span class="fa fa-search fs18"></span>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Search..."> </div>
        </form>
      </div>
      <div class="panel-scroller scroller-lg scroller-thick scroller-blue scroller-pn pn bg-alabaster mt-20 mt-md-0 text-center text-sm-left">
        <div class="pt25 pl20 pr15 pb20">
          <div class="bg-info text-white pt15 pl15 pr20 pb10 fs13 lh19 br4 ml10p triangle-after-right posr mr8">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            <div class="time text-bold monserrat fs10 opacity05 text-uppercase mt5 text-right">11:49 AM</div>
          </div>
          <div class="box-sm box-offset-10 mt-60 mt-sm-20">
            <div class="box__left">
              <img class="br4" src="assets/img/avatars/avatar-09.jpg">
            </div>
            <div class="box__body">
              <div class="text-black fs14 lh14">Gerald Carpenter</div>
              <div class="bg-white text-santas-gray br4 pt15 pl15 pr20 pb10 fs13 lh19 br4 posr mt10 triangle-after-left">Adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                <div class="time text-bold monserrat fs10 opacity05 text-uppercase mt7">11:49 AM</div>
              </div>
            </div>
            <div class="bg-info text-white pt15 pl15 pr20 pb10 fs13 lh19 br4 ml10p triangle-after-right posr mt-60 mt-sm-20 mr8">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              <div class="time text-bold monserrat fs10 opacity05 text-uppercase mt5 text-right">11:49 AM</div>
            </div>
            <div class="box-sm box-offset-10 mt-60 mt-sm-20">
              <div class="box__left">
                <img class="br4" src="assets/img/avatars/avatar-04.jpg">
              </div>
              <div class="box__body">
                <div class="text-black fs14 lh14">Doris Adams</div>
                <div class="bg-white text-santas-gray br4 pt15 pl15 pr20 pb10 fs13 lh19 br4 posr mt10 triangle-after-left">Adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  <div class="time text-bold monserrat fs10 opacity05 text-uppercase mt7">11:49 AM</div>
                </div>
              </div>
            </div>
            <div class="bg-info text-white pt15 pl15 pr20 pb10 fs13 lh19 br4 ml10p triangle-after-right posr mt-60 mt-sm-20 mr8">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              <div class="time text-bold monserrat fs10 opacity05 text-uppercase mt5 text-right">11:49 AM</div>
            </div>
            <div class="box-sm box-offset-10 mt-60 mt-sm-20">
              <div class="box__left">
                <img class="br4" src="assets/img/avatars/avatar-05.jpg">
              </div>
              <div class="box__body">
                <div class="text-black fs14 lh14">Gary Harvey</div>
                <div class="bg-white text-santas-gray br4 pt15 pl15 pr20 pb10 fs13 lh19 br4 posr mt10 triangle-after-left">Adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                  <div class="time text-bold monserrat fs10 opacity05 text-uppercase mt7">11:49 AM</div>
                </div>
              </div>
            </div>
            <div class="bg-info text-white pt15 pl15 pr20 pb10 fs13 lh19 br4 ml10p triangle-after-right posr mt-60 mt-sm-20 mr8">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
              <div class="time text-bold monserrat fs10 opacity05 text-uppercase mt5 text-right">11:49 AM</div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-lynch br4 p5 mb30 mb-lg-0">
        <form class="inline-form d-flex bg-white br4" action="#">
          <input type="text" placeholder="Type message here">
          <button class="text-white bg-info br4 br-n mla" type="submit">
            <span class="fa fa-envelope-o fs21 pl10 pr10"></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>