<section class="db-section">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-tile br-a br-grey">
        <div class="panel-body p30">
          <h1 class="fs36 fw700 mt5 mbn">5,153</h1>
          <div class="fw300 fs28 mt5">NEW ORDERS</div>
          <div class="count mt30"> +3%
            <div class="fw300 text-uppercase time"> today </div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-info" style="width: 50%"></div>
            <div class="progress-bar progress-bar-info dark" style="width: 5%"></div>
          </div>
          <div class="count mt20"> -5%
            <div class="fw300 text-uppercase time"> 1 week ago </div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-info" style="width: 40%"></div>
            <div class="progress-bar progress-bar-info light" style="width: 7%"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-tile  br-a br-grey">
        <div class="panel-body  p30">
          <h1 class="fs36 fw700 mt5 mbn">42,624</h1>
          <div class="fw300 fs28 mt5">TOTAL SALES GROSS</div>
          <div class="count mt30"> +4%
            <div class="fw300 text-uppercase time"> today </div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-primary" style="width: 50%"></div>
            <div class="progress-bar progress-bar-primary dark" style="width: 8%"></div>
          </div>
          <div class="count mt20"> +2%
            <div class="fw300 text-uppercase time"> 1 week ago </div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-primary" style="width: 36%"></div>
            <div class="progress-bar progress-bar-primary dark" style="width: 4%"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-tile  br-a br-grey">
        <div class="panel-body p30">
          <h1 class="fs36 fw700 mt5 mbn">853</h1>
          <div class="fw300 fs28 mt5">PENDING SHIPMENTS</div>
          <div class="count mt30"> +2%
            <div class="fw300 text-uppercase time"> today </div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-warning" style="width: 30%"></div>
            <div class="progress-bar progress-bar-warning dark" style="width: 3%"></div>
          </div>
          <div class="count mt20"> +6%
            <div class="fw300 text-uppercase time"> 1 week ago </div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
            <div class="progress-bar progress-bar-warning dark" style="width: 8%"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>