<div class="db-section">
<div class="panel">
  <div class="panel-heading h-49">
    <span class="panel-title hidden-xs"> Recent Activity</span>
    <ul class="nav panel-tabs panel-tabs-merge">
      <li class="active">
        <a href="#tab1_1" data-toggle="tab"> Top Sellers</a>
      </li>
      <li>
        <a href="#tab1_2" data-toggle="tab"> Most Viewed</a>
      </li>
      <li>
        <a class="hidden-xs" href="#tab1_3" data-toggle="tab"> New Customers</a>
      </li>
    </ul>
  </div>
  <div class="panel-body pn">
    <div class="table-responsive of-y-a">
      <table class="table admin-form theme-warning tc-checkbox-1 fs13">
        <thead>
          <tr class="bg-light">
            <th>Image</th>
            <th>Product Title</th>
            <th>SKU</th>
            <th>Price</th>
            <th>Stock</th>
            <th class="text-right">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="w100">
              <img class="img-responsive mw20 ib mr10" title="user" src="assets/img/stock/products/thumb_1.jpg">
            </td>
            <td>Apple Ipod 4G - Silver</td>
            <td>#21362</td>
            <td>$215</td>
            <td>1,400</td>
            <td class="text-right">
              <div class="btn-group text-right">
                <button class="btn btn-success br2 btn-xs fs12 dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Active
                  <span class="caret ml15"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="#">Edit</a>
                  </li>
                  <li>
                    <a href="#">Delete</a>
                  </li>
                  <li>
                    <a href="#">Archive</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">Complete</a>
                  </li>
                  <li class="active">
                    <a href="#">Pending</a>
                  </li>
                  <li>
                    <a href="#">Canceled</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td class="w100">
              <img class="img-responsive mw20 ib mr10" title="user" src="assets/img/stock/products/thumb_2.jpg">
            </td>
            <td>Apple Smart Watch - 1G</td>
            <td>#15262</td>
            <td>$455</td>
            <td>2,100</td>
            <td class="text-right">
              <div class="btn-group text-right">
                <button class="btn btn-success br2 btn-xs fs12 dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Active
                  <span class="caret ml15"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="#">Edit</a>
                  </li>
                  <li>
                    <a href="#">Delete</a>
                  </li>
                  <li>
                    <a href="#">Archive</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">Complete</a>
                  </li>
                  <li class="active">
                    <a href="#">Pending</a>
                  </li>
                  <li>
                    <a href="#">Canceled</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td class="w100">
              <img class="img-responsive mw20 ib mr10" title="user" src="assets/img/stock/products/thumb_6.jpg">
            </td>
            <td>Apple Macbook 4th Gen - Silver</td>
            <td>#66362</td>
            <td>$1699</td>
            <td>6,100</td>
            <td class="text-right">
              <div class="btn-group text-right">
                <button class="btn btn-success br2 btn-xs fs12 dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Active
                  <span class="caret ml15"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="#">Edit</a>
                  </li>
                  <li>
                    <a href="#">Delete</a>
                  </li>
                  <li>
                    <a href="#">Archive</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">Complete</a>
                  </li>
                  <li class="active">
                    <a href="#">Pending</a>
                  </li>
                  <li>
                    <a href="#">Canceled</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td class="w100">
              <img class="img-responsive mw20 ib mr10" title="user" src="assets/img/stock/products/thumb_7.jpg">
            </td>
            <td>Apple Iphone 16GB - Silver</td>
            <td>#51362</td>
            <td>$1299</td>
            <td>5,200</td>
            <td class="text-right">
              <div class="btn-group text-right">
                <button class="btn btn-success br2 btn-xs fs12 dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Active
                  <span class="caret ml15"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="#">Edit</a>
                  </li>
                  <li>
                    <a href="#">Delete</a>
                  </li>
                  <li>
                    <a href="#">Archive</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">Complete</a>
                  </li>
                  <li class="active">
                    <a href="#">Pending</a>
                  </li>
                  <li>
                    <a href="#">Canceled</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>