<div class="db-section">
<div class="panel">
  <div class="panel-heading">
    <span class="panel-title">
      <span class="fa fa-arrows-v"></span>Expanding Rows</span>
    <div class="pull-right">
      <code class="mr20">class="table footable fw-labels"</code>
    </div>
  </div>
  <div class="panel-body pn">
    <table class="table footable fw-labels" data-page-size="20">
      <thead>
        <tr>
          <th>Action</th>
          <th data-toggle="true">Details</th>
          <th data-hide="all">Details</th>
        </tr>
      </thead>
      <tbody>
        <tr class="row-primary">
          <td>
            <span class="label label-primary">Primary</span>
          </td>
          <td>This is a Footable expandable
            <b class="text-primary">"Primary"</b> row</td>
          <td>You can use this style by formatting the table row like this</td>
        </tr>
        <tr class="row-info">
          <td>
            <span class="label label-info">Info</span>
          </td>
          <td>This is a Footable expandable
            <b class="text-info">"Info"</b> row</td>
          <td>You can use this style by formatting the table row like this</td>
        </tr>
        <tr class="row-success">
          <td>
            <span class="label label-success">Success</span>
          </td>
          <td>This is a Footable expandable
            <b class="text-success">"Success"</b> row</td>
          <td>You can use this style by formatting the table row like this</td>
        </tr>
        <tr class="row-warning">
          <td>
            <span class="label label-warning">Warning</span>
          </td>
          <td>This is a Footable expandable
            <b class="text-warning">"Warning"</b> row</td>
          <td>You can use this style by formatting the table row like this</td>
        </tr>
        <tr class="row-danger">
          <td>
            <span class="label label-danger">Danger</span>
          </td>
          <td>This is a Footable expandable
            <b class="text-danger">"Danger"</b> row</td>
          <td>You can use this style by formatting the table row like this</td>
        </tr>
        <tr class="row-alert">
          <td>
            <span class="label label-alert">Alert</span>
          </td>
          <td>This is a Footable expandable
            <b class="text-alert">"Alert"</b> row</td>
          <td>You can use this style by formatting the table row like this</td>
        </tr>
        <tr class="row-system">
          <td>
            <span class="label label-system">System</span>
          </td>
          <td>This is a Footable expandable
            <b class="text-system">"System"</b> row</td>
          <td>You can use this style by formatting the table row like this</td>
        </tr>
        <tr class="row-dark">
          <td>
            <span class="label label-dark">Dark</span>
          </td>
          <td>This is a Footable expandable
            <b class="text-dark">"Dark"</b> row</td>
          <td>You can use this style by formatting the table row like this</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>