<div class="db-section">
  <div class="panel panel-warning panel-border top">
    <h3 class="text-center">Owner Details</h3>
    <div class="panel-body bg-white">
      <div class="admin-form">
        <div class="section row mb10">
          <label class="field-label col-md-3 text-center" for="account-name">Account Name:</label>
          <div class="col-md-9">
            <label class="field prepend-icon" for="account-name">
              <input class="gui-input" id="account-name" type="text" name="account-name" value="OwnerAccountName">
              <label class="field-icon" for="account-name">
                <i class="fa fa-home"></i>
              </label>
            </label>
          </div>
        </div>
        <div class="section row mb10">
          <label class="field-label col-md-3 text-center" for="account-email">Account Email:</label>
          <div class="col-md-9">
            <label class="field prepend-icon" for="account-email">
              <input class="gui-input" id="account-email" type="email" name="account-email" value="owner@store.com">
              <label class="field-icon" for="account-email">
                <i class="fa fa-envelope-o"></i>
              </label>
            </label>
          </div>
        </div>
        <div class="section row mb10">
          <label class="field-label col-md-3 text-center" for="account-phone">Account Phone:</label>
          <div class="col-md-9">
            <label class="field prepend-icon" for="account-phone">
              <input class="gui-input" id="account-phone" type="text" name="account-phone" value="888-888-8888" placeholder="">
              <label class="field-icon" for="account-phone">
                <i class="fa fa-phone"></i>
              </label>
            </label>
          </div>
        </div>
        <div class="section row mb10">
          <label class="field-label col-md-3 text-center" for="store-timezone">Store Timezone:</label>
          <div class="col-md-9">
            <label class="field select">
              <select id="store-timezone" name="store-timezone">
                <option value="0" selected="selected">(GMT-8h) US/Pacific</option>
                <option value="1">(GMT-11h) Pacific/Samoa</option>
                <option value="2">(GMT-10h) Pacific/Johnston</option>
                <option value="3">(GMT-8h) Canada/Pacific</option>
                <option value="4">(GMT+10h) Pacific/Truk</option>
              </select>
              <i class="arrow double"></i>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>