<section class="db-section">
  <div class="row">
    <div class="col-md-8">
      <h3>Analytics</h3>
      <div class="visitfromworld"></div>
    </div>
    <div class="col-md-4">
      <table class="table tc-bold-last">
        <tbody>
          <tr>
            <td> USA </td>
            <td>
              <span class="label label-success"> 21.8% </span>
            </td>
          </tr>
          <tr>
            <td> Australia </td>
            <td>
              <span class="label label-danger"> 21.8% </span>
            </td>
          </tr>
          <tr>
            <td> UK </td>
            <td>
              <span class="label label-primary"> 21.8% </span>
            </td>
          </tr>
          <tr>
            <td> UAE </td>
            <td>
              <span class="label label-warning"> 21.8% </span>
            </td>
          </tr>
          <tr>
            <td> Russia </td>
            <td>
              <span class="label label-primary"> 21.8% </span>
            </td>
          </tr>
          <tr>
            <td> India </td>
            <td>
              <span class="label label-info"> 21.8% </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>