<div class="db-section">
  <div class="panel">
      <h3> Bar Graph with Filter</h3>
    <div class="panel-menu">
      <div class="chart-legend" data-chart-id=".js-high-bars-widgets">
        <a class="legend-item btn btn-warning btn-sm mr5" data-chart-id="0">Viewers</a>
        <a class="legend-item btn btn-primary btn-sm mr5" data-chart-id="1">Women</a>
        <a class="legend-item btn btn-info btn-sm" data-chart-id="2">Men</a>
      </div>
    </div>
    <div class="panel-body pn">
      <div class="js-high-bars-widgets" style="width: 100%; height: 220px; margin: 0 auto;"></div>
    </div>
  </div>
</div>