<section class="db-section row">
  <div class="col-md-12 admin-grid">
    <div class="panel">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <div class="pl30 pr50">
              <h2 class="ib mn mr20">General Stats</h2>
              <div class="pull-right">
                <div class="btn-group">
                  <button class="btn btn-xs btn-system" type="button">
                    <span class="mr10 icon fa fa-refresh"></span>Reload</button>
                </div>
              </div>
              <div class="mt50 row text-center">
                <div class="col-sm-4 mt-30 mt-sm-0">
                  <div class="info-circle info-circle-percent" id="c1" value="55" data-circle-color="system"></div>
                  <p class="fs15 text-shady-lady mt10"> Transactions </p>
                </div>
                <div class="col-sm-4 mt-30 mt-sm-0">
                  <div class="info-circle info-circle-percent" id="c2" value="85" data-circle-color="success"></div>
                  <p class="fs15 text-shady-lady mt10"> New Visits </p>
                </div>
                <div class="col-sm-4 mt-30 mt-sm-0">
                  <div class="info-circle info-circle-percent" id="c3" value="46" data-circle-color="danger"></div>
                  <p class="fs15 text-shady-lady mt10"> Bounce </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-30 mt-md-0">
            <div class="pl30 pr30">
              <div>
                <h2 class="ib mn mr20">Server Stats</h2>
                <div class="pull-right">
                  <div class="btn-group">
                    <button class="btn btn-xs btn-system" type="button">
                      <span class="mr10 icon fa fa-refresh"></span>Reload</button>
                  </div>
                </div>
              </div>
              <div class="row mt60 text-center">
                <div class="col-xs-6 col-sm-3 col-md-4 mt10 mt-md-0">
                  <div class="inlinesparkbars" sparkwidth="100%" data-spark-color="primary" values="5,6,4,3,5,6,4,6,7,2,4,7,5,4,6"></div>
                  <p class="fs15 text-shady-lady mt10">Network</p>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-4">
                  <div class="inlinesparkbars" sparkwidth="100%" data-spark-color="warning" values="5,6,4,5,6,7,8,9,12,10,14,12,9,8,5"></div>
                  <p class="fs15 text-shady-lady mt10">CPU Load</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 mt-30 mt-sm-0">
                  <div class="js-ecommerce_chart-3" style="height: 120px;"></div>
                  <p class="fs15 text-shady-lady mt10">Load Rating</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>