<section class="db-section row">
  <div class="col-sm-12">
    <div class="admin-panels">
      <div class="panel mbn mt-40 mt-md-0" id="p01">
        <div class="panel-body pbn">
          <div class="row">
            <div class="col-md-6 js-load-data-wrapper">
              <div class="pl30 pr40">
                <h2 class="ib mn mr20">Site visits</h2>
                <span class="fs15 text-shady-lady">Weekly Stats</span>
                <div class="float-sm-right mt-10 mt-sm-0">
                  <a class="load-new-data btn btn-xs btn-success chart-1 active-success" href="#" data-load-data="[0, 850, 900, 1200, 1100, 1000, 1200, 1400, 2200, 2300, 2600, 2200, 2700, 3100, 3000, 2400, 2000, 0]" data-load-into=".js-ecommerce_chart-1">New</a>
                  <a class="load-new-data btn btn-xs btn-default ml4 chart-1" href="#" data-load-data="[0, 450, 800, 1300, 1600, 1200, 1100, 1500, 2300, 2400, 2500, 2500, 2800, 2300, 2100, 1500, 1300, 300]" data-load-into=".js-ecommerce_chart-1">Returning</a>
                </div>
                <div class="js-ecommerce_chart-1" style="height: 380px;"></div>
              </div>
            </div>
            <div class="col-md-6 mt-30 mt-md-0">
              <div class="pr30 pl40 js-load-data-wrapper">
                <h2 class="ib mn mr20">Revenue</h2>
                <span class="fs15 text-shady-lady">Monthly Stats</span>
                <div class="mt-10 mt-sm-0 pull-sm-right">
                  <div class="btn-group">
                    <button class="btn btn-xs btn-info dropdown-toggle" type="button" data-toggle="dropdown">Filter range
                      <span class="caret ml15"></span>
                    </button>
                    <ul class="dropdown-menu load-new-data-dropdown" role="menu">
                      <li>
                        <a class="filter-range bg-whitesmoke" data-load-into=".js-ecommerce_chart-2" data-load-data="[0, 1400, 900, 1200, 1500, 1000, 1300, 1500, 2900, 2500, 2600, 2200]" href="#">Type 1</a>
                      </li>
                      <li>
                        <a class="filter-range" data-load-into=".js-ecommerce_chart-2" data-load-data="[1400, 1200, 0, 900, 1500, 1300, 1000, 2900, 1500, 2600, 2500, 2200]" href="#">Type 2</a>
                      </li>
                      <li>
                        <a class="filter-range" data-load-into=".js-ecommerce_chart-2" data-load-data="[100, 400, 900, 1100, 1500, 1400, 1600, 1100, 2000, 2100, 1600, 2000]" href="#">Type 3</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="js-ecommerce_chart-2 pt20" style="height: 310px;"></div>
                <div class="row mt10">
                  <div class="col-xs-6 col-sm-3 col-md-4 col-xl-3 text-space-20">
                    <div class="fs15 text-shady-lady">Revenue:</div>
                    <div class="fs23 text-outer-space monserrat">$13.274</div>
                  </div>
                  <div class="col-xs-6 col-sm-3 col-md-4 col-xl-3 text-space-20">
                    <div class="fs15 text-shady-lady">Tax:</div>
                    <div class="fs23 text-outer-space monserrat">$19.962</div>
                  </div>
                  <div class="col-xs-6 col-sm-3 col-md-4 col-xl-3 text-space-20">
                    <div class="fs15 text-shady-lady">Shipment:</div>
                    <div class="fs23 text-outer-space monserrat">$1.976</div>
                  </div>
                  <div class="col-xs-6 col-sm-3 col-md-12 col-xl-3 text-space-20 mt-md-15 mt-xl-0">
                    <div class="fs15 text-shady-lady">Orders:</div>
                    <div class="fs23 text-outer-space monserrat">529 479</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>